style~=1.1.6
pip~=24.0
fastapi-jwt-auth==0.5.0
attrs~=23.2.0
cryptography~=42.0.7
pillow~=10.3.0
utils~=1.0.2
automium_web~=0.1.1
asyncio~=3.4.3
tornado~=6.4
setuptools~=69.5.1
fastapi~=0.111.0
SQLAlchemy~=2.0.30
greenlet~=3.0.3
psycopg2~=2.9.9
pool~=0.1.2.dev0
functions~=0.7.0
importlib_metadata~=7.1.0
PyJWT==1.7.1
typing_extensions~=4.11.0
legacy~=0.1.7
config~=0.5.1
pytest~=5.4.3
python-dateutil~=2.9.0.post0
passlib~=1.7.4
SQLAlchemy-Utils==0.41.2
pydantic~=2.7.4
schemas~=0.7.1
Werkzeug~=3.0.3
uvloop==0.19.0
